.site-header {
	background: rgba($white, .04);
	margin-bottom: 2px;

	&__title {
		font-size: 2rem;
		font-family: "Amazone BT Regular";
		margin: 0;
		float: left;
	}

	&__action_container {
		float: right;
		display: flex;
	}

	&__action_box {
		padding: 0 0.625rem;

		&:first-child {
			border-right: 1px solid rgba($white, .3);
		}
	}

	&__action_icon {
		display: block;
		margin: 0 auto;
		height: 23px;
	}

	&action_description {
		font-size: 0.875rem;
	}
	
}